<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APIpay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/api_card_1.css') }}">
    <link type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}" rel="shortcut icon">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <header class="header">
            <div class="logo">
                <h1><a href="{{ url_for('index') }}">APIpay</a></h1>
            </div>
            <nav>
                {% if session['email'] %}
                <p>{{ session['email'] }}</p>  <a href="{{ url_for('logout') }}">Выйти</a>
                {% else %}
                <a href="{{ url_for('login') }}">Вход</a> | <a href="{{ url_for('register') }}">Регистрация</a>
                {% endif %}
            </nav>
        </header>
        <main class="container">
            <section class="api-name">
                <h1 class="api-title">Customer management</h1>
                <p class="api-description">
                    API управления клиентами предоставляет стандартизированный механизм для управления клиентами и учетными записями клиентов, например, создание, обновление, извлечение, удаление и уведомление о событиях. Клиентом может быть человек, организация или другой поставщик услуг, который покупает продукты у предприятия. API управления клиентами позволяет управлять идентификационной и финансовой информацией о нем.
                </p>
                <div class="download-button-container">
                    <a href="{{ url_for('static', filename='docs/TMF629_Customer_userguide.pdf') }}" class="download-button" download>Скачать документацию</a>
                </div>
            </section>
            <section class="tariffs">
                <h1 class="tariffs-title">Тарифы</h1>
                <div class="tariff-card">
                    <h2>Базовый</h2>
                    <p>Обычная версия с ограниченными возможностями</p>
                    <div class="tariff-price">
                        <span>0 ₽</span>
                        <small>за 1 лицензию в год</small>
                    </div>
                    <button class="buy-button" data-product-id="4">Купить</button>
                </div>
                <div class="tariff-card">
                    <h2>Премиум</h2>
                    <p>Версия с повышенными возможностями и привилегиями</p>
                    <div class="tariff-price">
                        <span>1000 ₽</span>
                        <small>за 1 лицензию в год</small>
                    </div>
                    <button class="buy-button" data-product-id="5">Купить</button>
                </div>
                <div class="tariff-card">
                    <h2>Корпоративный</h2>
                    <p>Версия для бизнеса и корпораций</p>
                    <div class="tariff-price">
                        <span>5000 ₽</span>
                        <small>за 1 лицензию в год</small>
                    </div>
                    <button class="buy-button" data-product-id="6">Купить</button>
                </div>
            </section>

        </main>
        <footer class="site-footer">
            <div class="footer-container">
                <div class="footer-logo">
                    <img src="static/img/logo.png" alt="Логотип проекта" class="footer-logo-image">
                    <p>APIpay — платформа для интеграции API продуктов.</p>
                </div>

                <div class="footer-links">
                    <h3>Навигация</h3>
                    <ul>
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Продукты API</a></li>
                        <li><a href="#">Цены</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>

                <div class="footer-contact">
                    <h3>Контакты</h3>
                    <p>Email: support@apipay.com</p>
                    <p>Телефон: +7 (800) 123-45-67</p>
                    <p>Адрес: ул. Усова, 13в, Томск</p>
                </div>

                <div class="footer-social">
                    <h3>Мы в соцсетях</h3>
                    <ul class="social-links">
                        <li>
                            <a href="https://web.telegram.org/" target="_blank">
                                <img src="static/img/tg.png" alt="Telegram" class="social-icon">Telegram
                            </a>
                        </li>
                        <li>
                            <a href="https://m.vk.com/" target="_blank">
                                <img src="static/img/vk.png" alt="ВКонтакте" class="social-icon">ВКонтакте
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom">
                <p>© 2024 APIpay. Все права защищены.</p>
            </div>
        </footer>
    </div>
</body>
</html>